<div>
  <h2>{{ "HOME.TITLE" | translate }}</h2>
  <p>
    {{ "HOME.TEXT" | translate }}
  </p>
  <label for="">
    {{ "HOME.SELECT" | translate }}
    <select #langSelect (change)="translate.use(langSelect.value)">
      <option *ngFor="let lang of translate.getLangs()" [value]="lang">{{
        lang
      }}</option>
    </select>
  </label>

  <div class="container">
    <div *ngFor="let item of displayList" class="input-container">
      <label for="">{{'HOME.'+item.label | translate}}</label>
      <input type="text" />
    </div>
  </div>

  <div class="container">
    <div *ngFor="let item of displayList" class="input-container">
      <label translate>{{'HOME.'+item.label}}</label>
      <input type="text" />
    </div>
  </div>

</div>
